@(myForm: Form[User])
@import helper._
@import models.User
@import play.api.i18n.Messages.Implicits._
@import play.api.Play.current

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/loginformstyling.css")">
</head>
<body>

    @helper.form(action = controllers.routes.Application.submit, 'id -> "login_form") {
        @helper.inputText(myForm("name"), '_showConstraints -> false, '_label -> "Name:")

        @helper.inputText(myForm("age"), '_showConstraints -> false, '_label -> "Age:", 'id -> "agef")

        <input id="submitbutton" type="submit" value="submit"/>
    }

</body>
</html>